body {
  background-color: rgb(11, 11, 41);
}
.container {
  display: flex;
}

.input-box {
  display: flex;
  flex-direction: column;

  border: 1px solid #7f78e4;
  padding: 0px;
  background-color: #e0e0e6;
}

#category {
  height: 130px;
}

.form-section {
  width: 30%;
  padding: 20px;
}

.preview-section {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 20px;
  border: 1px solid white;
  background-color: rgb(223, 221, 217);
  margin: 60px;
}
#preview-description{
    color: rgb(12, 12, 12);
}

#submit-btn {
  background-color: rgb(75, 75, 229);
}

h2 {
  margin-bottom: 20px;
  color: white;
}

input {
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
}

img {
  /* padding: 30 60 50 80; */
  margin: 50px 20px 30px 50px;
  height: 250px;
  width: 200px;
}

h3 {
  margin-top: 0;
}

p {
  margin-bottom: 0;
}
